body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* ||||||||||||||||||||||| HOME PAGE ||||||||||||||||||||||| */

.home-container {
  margin: auto;
  /* width: 100%; */
}

.home-img {
  margin: auto;
  display: block;
  width: 55% !important;
}

.page-btn {
  display: block;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50%;
}

/* //navbar.scss */
.zero {
  padding: 0;
  margin: 0;
}

.nav-link {
  border-radius: 5px;
  margin: 3%;
}

.nav-link:hover {
  background-color: rgb(220, 52, 68);
  text-decoration: none;
}

.navbar {
  transition: all 0.7s ease-in;
}

.navbar-brand {
  border-radius: 5px;
  /* background-color: rgb(220, 52, 68); */
}

/* //IMPORTANT */
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(193, 196, 29);
}

.logo img {
  width: 77px;
}

.left {
  text-align: left;
  padding: 10px;
}

.search-container {
  width: 100%;
  display: block;
  margin: auto;
}

.search-input {
  font-size: 2vh;
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.meme-card-generator {
  width: 10rem !important;
  padding: 5% !important;
}

.card-title {
  margin-bottom: .5rem;
  text-align: center;
}

.cards {
  margin: auto;
  width: 85%;
}

.card {
  display: flex !important;
  justify-content: space-evenly;
  margin: auto !important;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  width: 12rem !important;
}

.card-img {
  margin: 50% !important;
  align-items: center;
}

.card-body {
  margin: auto;

}

.red {
  margin: auto !important;
  display: block !important;
}

.canvasboard {
  /* border: 1px solid black; */
  border-radius: 1em;
  margin: auto;
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(33% - 2rem);
  }

  .home-img {
    margin: auto;
    display: block;
    width: 90%;
  }
}

@media (min-width: 2560px) {
  .navbar-nav {
    font-size: 2vh;
  }

  .logo img {
    width: 200px;
    margin: auto;
  }

  .card {
    display: flex !important;
    justify-content: space-evenly !important;
    margin: auto !important;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    /* width: 20rem !important; */
    width: calc(25% - 5rem) !important;
  }

  .cards {
    margin: auto !important;
    width: 85% !important;
    display: flex !important;
    justify-content: space-evenly;
  }

  .card-body .btn {

    flex: 2 2 auto;
    padding: 1rem 2rem;
    font-size: xx-large;

  }

  .page-btn {
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    padding: .2em !important;
    font-size: 3vh !important;
  }

.h5 {
    font-size: 3vh !important;
}
.home-img {
    margin: auto;
    display: block;
    width: 65%;
}
/* .container{
  display: flex !important;
  justify-content: space-evenly !important;
} */


}


@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }

}

@media (max-width: 475px) {
  .home-img {
    margin: auto;
    display: block;
    width: 90%;
  }
  #memegenerator {
    width: 70% !important;
}
}

@media (max-width: 375px) {
  .navbar-nav {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }

  .logo img {
    /* width: 50%; */
    /* margin: auto; */
    display: block;
  }

  .container {
    width: unset !important;
  }

  .search-input {
    font-size: 1.5vh;
  }

  .home-img {
    margin: auto;
    display: block;
    width: 90%;
  }

  .page-btn {
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
  }
  #memegenerator {
    width: 80% !important;
}
}

.meme-generator {
  margin: auto;
  width: 50%;
  font-family: sans-serif;
  border: 1px solid #ccc;
  padding: 2%;
  border-radius: 1em;
  background-color: rgb(104, 137, 152);
  box-shadow: 0px 0px 10px 0px rgba(84, 82, 82, 0.588);
}

.meme-generator label {
  display: block;
  font-weight: bold;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2%;
}

#memegenerator {
  width: 30%;
}